/* Estilos gerais */
body {
    font-family: Arial, sans-serif; /* Define a fonte para o corpo do texto */
    background-color: #f0f0f0; /* Define a cor de fundo do corpo do texto */
    margin: 0; /* Remove as margens padrão do corpo */
    padding: 0; /* Remove o preenchimento padrão do corpo */
  }
  
  /* Título da página */
  .tit {
    text-align: center; /* Centraliza o título da página */
    font-size: 3em; /* Define o tamanho da fonte do título */
    font-weight: bold; /* Define o peso da fonte do título */
    color: #333; /* Define a cor do título */
    margin-top: 20px; /* Define a margem superior do título */
  }
  
  /* Subtítulo da página */
  .subt {
    text-align: center; /* Centraliza o subtítulo da página */
    font-size: 1.5em; /* Define o tamanho da fonte do subtítulo */
    color: #666; /* Define a cor do subtítulo */
    margin-bottom: 10px; /* Define a margem inferior do subtítulo */
  }
  
  /* Links do menu */
  .subt ul {
    list-style: none; /* Remove os marcadores da lista */
    margin: 0; /* Remove as margens da lista */
    padding: 0; /* Remove o preenchimento da lista */
    text-align: center; /* Centraliza os links do menu */
  }
  
  .subt ul li {
    display: inline-block; /* Exibe os links do menu na mesma linha */
    margin: 0 10px; /* Define as margens dos links do menu */
  }
  
  .subt ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Define a cor dos links */
    font-weight: bold; /* Define o peso da fonte dos links */
  }
  
  /* Conteúdo inicial */
  .tt