CSS (style.css)

/* Estilos para o Cabeçalho */
header {
    text-align: center;
    background-color: #4CAF50;
    padding: 20px;
    color: pink;
}

camila {
    font-size: 2em;
    font-weight: bold;
}

.lima {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ee1ad2;
}jtj

/* Estilos para o Menu de Navegação */
.nave {
    background-color: #333333dc;
    overflow: hidden;
}

.nave ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nave li {
    padding: 14px 20px;
}

.nave a {
    text-decoration: none;
    color: rgb(228, 43, 157);
    padding: 14px 20px;
    display: block;
}

.nave a:hover {
    background-color: #e423b3;
}

/* Estilos para o Conteúdo Principal */
main {
    padding: 20px;
    text-align: center;
}

.página, .texto, .caldeirão {
    margin-bottom: